#_Panel {
    color: #ddd;
    background-color: black;
}
#_Panel a {
    color: #fff;
}

.ContentHighlighted {
    background-color: #444;
}



#Status {
    color: white;
}

#_Font {
    color: white;
}
#_Bottom {
    background-color: rgba(0,0,0,0.75);
}

#StatusHover {
    background-color: white;
}
#_FontHover {
    background-color: white;
}
