body {
    background: white;
}

#_Panel {
    color: black;
    background: white;
}

a {
    color: #222;
}

#Status, #_Font { color: black; }


.ContentHighlighted {
    background-color: #ddd;
}
#_Bottom {
    background-color: rgba(255,255,255,0.75);
}
