#_Panel {
    color: black;
    background: white;
}

#_Panel a, #_Panel a:visited, #Menu a, #Menu a:visited  {
    color: #222;
}


#Menu a, #Status, #_Font { color: black; }


.ContentHighlighted {
    background-color: #ddd;
}
#_Bottom {
    background-color: rgba(255,255,255,0.75);
}

#CortexitPopup {
	border: 1px solid black;
}
