root { 
    display: block;
}

.smallLabel {
    font-size: 16px;
}

#_Panel {
    text-align:left;
    font-family:Arial,Sans;
    color: white;
    background-color: black;
    width:100%;
    height: 100%;
    overflow: auto;
}
#_Content {
	padding: 0.25em;
}

#Loading {
   background: url('icons/loading.gif') no-repeat;
   background-size: 100%;
   width: 100%;
   height: 90%;
}

#_Images {
    padding: 1em;
}

#Status {
    cursor: crosshair;
}
#_Font {
    cursor: crosshair;
}




#_Speech {
    position: fixed; right: 0; top: 0; overflow: hidden;
    background-color: #888;
    display:none;
}


#Return {
    position:absolute;
    top:0;
    right:1%;    
}

#Return a {
    color: gray;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
}


#_Bottom {
    overflow: auto;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;   
	text-align: center;
}

#_Bottom div { float: left; font-size: 150%; font-family: Arial, sans; }
#_Bottom div:nth-child(1) {	width: 10%; }
	#_Bottom div:nth-child(2) {	width: 10%; }
	#_Bottom div:nth-child(3) {	width: 10%; }
	#_Bottom div:nth-child(4) {	width: 10%; }
		#_Bottom div:nth-child(5) {	width: 20%; }
		#_Bottom div:nth-child(5) button {	width: 50%; font-size: 100%;  opacity: 0.5; }
	#_Bottom div:nth-child(6) {	width: 10%; }
	#_Bottom div:nth-child(7) {	width: 10%; }
	#_Bottom div:nth-child(8) {	width: 10%; }
#_Bottom div:nth-child(9) {	width: 10%; }


#Menu{
    border:0px;
    margin:0px;
    padding:0px;

	border-top: 1px solid gray;
	padding-top: 0.5em;
	margin-top: 0.5em;

	clear:both;
	width: 100%;
}
#Menu div { float: left; font-size: 75%; vertical-align: bottom; }

#Menu div:nth-child(1) {	width: 15%; }
#Menu div:nth-child(2) {	width: 14%; }
#Menu div:nth-child(3) {	width: 14%; }
#Menu div:nth-child(4) {	width: 14%; }
#Menu div:nth-child(5) {	width: 14%; }
#Menu div:nth-child(6) {	width: 14%; }
#Menu div:nth-child(7) {	width: 15%; }




#Menu a:hover {text-decoration:none;} /*BG color is a must for IE6*/
#Menu a.tooltip span { pointer-events: none; display:none; padding:2px 3px; margin-left:-140px; margin-top: 0px; width:140px; z-index: 400;}
#Menu a.tooltip:hover span{display:inline; position:absolute; color:#fff;}

/* a.tooltipAbove span {display:none; margin-left:-200px;  margin-bottom: 60px; width:300px; font-size: 14px; }
a.tooltipAbove:hover span{display:inline; position:absolute;  color:white;} */


.imageSection {
    width: 75%;
    float: right;
    margin-bottom: 15px;
}

#BrowserIFrame, #BrowserWebview {
	width: 100%;
	height: 100%;
}

#CortexitPopup {
    font-family:Arial,Sans;
	z-index: 9999;
	position: fixed;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
}
#PanelClose {
	position: absolute;
	right: 0.5em;
	top: 0.25em;
	font-size: 200%;
	color: gray;
}
.CortexitMiniButton {
	height: 1em !important;
	cursor: crosshair;
}
.CortexitMegaButton {
	position: fixed;
	height: 5em;
	bottom: 0.25em;
	right: 0.25em;
	cursor: crosshair;
}
